.about-page-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
  width: 85%;
  margin-top: 10%;
  color: #fff8f8;
}

.about-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #dc143c;
}

#about-page-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 200;
  line-height: 1.5;
}

.about-section {
  background-color: rgba(255, 248, 248, 0.1); /* Subtle background */
  padding: 20px;
  border-radius: 8px;

  border: solid 1px #66fcf1;
}

.about-section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #dc143c;
  margin-bottom: 8px;
  letter-spacing: 0;
}

.about-section-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  line-height: 1.5;
  max-width: 750px;
  margin: 0 auto;
  color: #fff8f8;
}

#ingrident {
  text-transform: capitalize;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  color: #dc143c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.close-button {
  background-color: #dc143c;
  color: #fff8f8;
  position: relative;
  width: 45px;
  left: 47%;
  bottom: 300px;
  border-radius: 5px;
  border: none;
}

.open-modal-button {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #fff8f8;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 295px;
  border-radius: 5px;
  border: #dc143c solid 1px;
  cursor: pointer;
}

#health-food-ing {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}

.food-descriptions {
  color: #fff8f8;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  border: rgb(90, 89, 89) solid 1px;
  border-radius: 5px;
  background-color: #dc143c;
}
