.about-page-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  text-align: center;
  gap: 20px;
  width: 85%;
  margin-top: 10%;
  color: #fff8f8;
}

.about-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #dc143c;
}

#about-page-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}

.about-section {
  background-color: rgba(255, 248, 248, 0.1); /* Subtle background */
  padding: 20px;
  border-radius: 8px;

  border: solid 1px #66fcf1;
}

.about-section-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  color: #dc143c;
  margin-bottom: 8px;
  letter-spacing: 0;
}

.about-section-paragraph {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  max-width: 750px;
  margin: 0 auto;
  color: #fff8f8;
}

#ingrident {
  text-transform: capitalize;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  color: #dc143c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  height: 340px;
  text-align: center;
}

.close-button {
  background-color: #dc143c;
  color: #fff8f8;
  position: absolute;
  width: 25px;
  left: 88%;
  top: 3%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.open-modal-button {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #fff8f8;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 295px;
  border-radius: 5px;
  border: #dc143c solid 1px;
  cursor: pointer;
}

#health-food-ing {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.label-container {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2px;
  font-size: 1.2rem;
  margin-top: 15px;
}

.label-container label {
  font-weight: 700;
}

#food-select {
  text-align: center;
  color: #fff8f8;
  background-color: rgba(0, 0, 0, 0.1);
  border: #dc143c solid 1px;
  font-weight: 600;
  border-radius: 3px;
}

.food-descriptions {
  position: relative;
  color: #fff8f8;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  border: rgb(90, 89, 89) solid 1px;
  border-radius: 5px;
  background-color: #dc143c;
}

#align-chart-img {
  display: flex;
  justify-content: center;
}

#chart-img-overlay {
  position: relative;
  border-radius: 50%;
  background-color: #dc143c;
  border: #66fcf1 solid 0.5px;
  width: 85px;
  height: 85px;

  margin-top: 5px;
}

#chart-img {
  margin-top: 13px;
  width: 60px;
  height: 60px;
  z-index: 0;
}

#align-about-quote {
  display: flex;
  justify-content: center;
}

#about-quote {
  background-color: #dc143c;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 1.1rem;
  margin-top: 20px;
  width: 300px;
  border-radius: 10px;
}
