#home-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 50px;
  letter-spacing: 1.5px;
  color: #fff8f8;
}

#chart-info {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff8f8;
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(255, 248, 248, 0.1); /* Subtle background */
}

.chart-container :nth-child(1) {
  margin-top: 25px;
}
.chart-container :nth-child(2) {
  margin-top: 25px;
}
.chart-container :nth-child(3) {
  margin-top: 25px;
}

.align-chart-component-desc-fat {
  margin-top: 25px;
  margin-bottom: 25px;
}

.align-chart-component-desc-fat :nth-child(1) {
  border: solid rgb(255, 99, 133) 1px;
}

.align-chart-component-desc-cal {
  margin-top: 25px;
  margin-bottom: 25px;
}
.align-chart-component-desc-cal :nth-child(1) {
  border: solid rgb(255, 207, 86) 1px;
}

.align-chart-component-desc-carbs :nth-child(1) {
  margin-bottom: 15px;
  border: solid rgb(17, 233, 93) 1px;
}

#chart-h4 {
  background: none;
  border: none;
}

h4 {
  position: relative;
  bottom: 5px;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 10px #66fcf265;
}
.chart-component-desc {
  position: relative;
  bottom: 15px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 88%;
  color: #fff8f8;
  font-weight: 300;
  background-color: rgba(195, 192, 192, 0.153);
  border: solid #66fcf1 0.5px;
  border-radius: 10px;
  line-height: 1.1;
  text-shadow: 2px 2px 10px #66fcf251;
  box-shadow: 2px 2px 10px #66fcf220;
}

.align-chart-desc-p {
  position: relative;
  bottom: 18px;
}

.align-key-isights-container {
  width: 94%;
  margin: 0 auto;
  border: #66fcf1 solid 0.5px;
  border-radius: 10px;
  background-color: rgba(195, 192, 192, 0.153);
}

#analytics-h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #fff8f8;
  padding-left: 10px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.key-insights-container {
  padding-left: 20px;
}

.key-insights-container li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #fff8f8;
  line-height: 1.5;
  list-style-type: disc;
  margin-bottom: 5px;
}

@media (min-width: 1024px) {
  #home-title {
    letter-spacing: 3px;
    position: relative;
    top: 45px;
  }
  #chart-info {
    position: relative;
    top: 15px;
  }
}
