@media (min-width: 1024px) {
  .app-container {
    display: flex;
    flex-direction: column; /* Default: stack vertically */
    margin-top: 60px; /* Adjust for the Navbar height */
  }
  .desktop-stacked {
    display: flex;
    flex-direction: column; /* Stack vertically for desktop */
  }
  .home-container {
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: -1px;
    height: 275px;
    width: 100%;
    padding-top: 10px;
    padding-left: 50px;
  }

  .home-container button {
    display: none;
  }

  #homepage-logo-overlay {
    position: relative;
    left: 45%;
    top: -56%;
    width: 285px;
    height: 285px;
  }
  #homepage-logo-img {
    position: relative;
    top: 12%;
    left: 15%;
  }

  .about-page-container {
    position: relative;
    top: 100px; /* Align properly */
    padding: 20px; /* Add padding */
    margin: 0 auto; /* Center on the page */
    max-width: 900px; /* Limit the width for better readability */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(86, 84, 84, 0.193);
    border-radius: 10px;
  }
}

@media (min-width: 1440px) {
  .home-container {
    margin-bottom: 175px;
  }
  .home-container {
    margin-bottom: 175px;
  }
  #homepage-logo-overlay {
    left: 30%;
    width: 400px;
    height: 400px;
  }
  #homepage-logo-img {
    top: 15%;
    left: 18%;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 320px) {
  .app-container {
    display: none;
  }
}
@media (max-width: 375px) {
  .app-container {
    display: none;
  }
}
@media (max-width: 425px) {
  .app-container {
    display: none;
  }
}
@media (max-width: 768px) {
  .app-container {
    display: none;
  }
}
@media (max-width: 1023px) {
  .app-container {
    display: none;
  }
}
