#contact-page {
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding: 20px;
  background-color: rgba(195, 192, 192, 0.153);
  color: #fff8f8;
  margin-top: 50px;
}

#contact-title {
  font-size: 2rem;
  color: #fff8f8;
  margin-bottom: 10px;
}

#contact-subtitle {
  font-size: 1rem;
  margin-bottom: 30px;
  color: #fff8f8;
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#contact-form label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #fff8f8;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem;
}

#contact-form input:focus,
#contact-form textarea:focus {
  outline: none;
  border-color: #00aaff;
  box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
}

#submit-button {
  background-color: #e91e63;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #007acc;
}

#contact-info {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #fff8f8;
}

#contact-email a {
  color: #00aaff;
  text-decoration: none;
}

#contact-info a:hover {
  text-decoration: underline;
}

@media (min-width: 481px) {
  .home-container {
    margin-left: 25px;
    width: 700px;

    /* border: #dc143c solid 2px; */
  }

  .navbar-list {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    position: relative;
    left: auto;
  }
  .homepage-slogan-1 {
    font-size: 1.8rem;
    width: 700px;
  }

  .homepage-welcome-h1 {
    font-size: 2.5rem;
  }

  .homepage-welcome-h1 span {
    font-size: 1.7em;
  }

  .homepage-paragraph {
    font-size: 1.5em;
  }

  .home-container button {
    font-size: 1.7em;
    width: 250px;
  }

  #homepage-logo-overlay {
    left: 65%;
  }
}

@media (min-width: 768px) {
  .navbar-list.desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-item a {
    position: relative;
    top: 25px;
    right: 40px;
    font-size: 2rem;
  }
}

#confirmation-message {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
}

@media (min-width: 768px) {
  #contact-page {
    margin-top: 100px;
  }
}
