.home-container {
  display: grid;
  grid-template-rows: repeat(1, 1f);
  grid-template-columns: repeat(1, 1fr);
  width: 400px;
  line-height: 1.5;
  justify-items: start;
  align-items: center;
  position: relative;
  top: 50px;
  margin-left: 3%;
  color: #fff8f8;
  letter-spacing: 0.5px;
}

.homepage-slogan-1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  width: 300px;
  text-shadow: 2px 2px 10px #66fcf1;
}

.homepage-welcome-h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-top: 3%;
}

.homepage-welcome-h1 span {
  color: #dc143c;
  font-size: 1.5em;
}

.homepage-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;

  margin-top: 3%;
  text-shadow: 2px 2px 10px #66fcf1;
}

.home-container button {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  width: 160px;
  margin-top: 12%;
  border-radius: 10px;
  background-color: #dc143c;
  color: #fff8f8;
  border: none;
  cursor: pointer;
}

#homepage-logo-overlay {
  position: relative;
  top: 75px;
  left: 38%;
  width: 225px;
  height: 225px;
  background-color: #66fcf1;
  border-radius: 50%;
}

#homepage-logo-img {
  position: relative;
  width: 165px;
  height: 165px;
  top: 30px;
  left: 10%;
}

@media (min-width: 481px) {
  .home-container {
    margin-left: 25px;
    width: 700px;

    /* border: #dc143c solid 2px; */
  }

  .navbar-list {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    position: relative;
    left: auto;
  }
  .homepage-slogan-1 {
    font-size: 1.8rem;
    width: 700px;
  }

  .homepage-welcome-h1 {
    font-size: 2.5rem;
  }

  .homepage-welcome-h1 span {
    font-size: 1.7em;
  }

  .homepage-paragraph {
    font-size: 1.5em;
  }

  .home-container button {
    font-size: 1.7em;
    width: 250px;
  }

  #homepage-logo-overlay {
    left: 65%;
  }
}

@media (min-width: 768px) {
  .navbar-list.desktop {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .navbar-item a {
    position: relative;
    top: 25px;
    right: 40px;
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .home-container {
    position: relative;
    top: 90px;
    width: 800px;
    margin: 0 auto;
  }

  #homepage-logo-overlay {
    position: absolute;
    top: -20px;
    left: 595px;
    width: 300px;
    height: 300px;
  }
  #homepage-logo-img {
    position: relative;
    top: 45px;
    left: 50px;
    width: 185px;
    height: 185px;
  }
}
